body {
    background: rgb(112, 109, 109);
}

.primary-button {
    background: #eee;
    border: 0;
    border-radius: 5px;
    color: black;
    width: 120px;
    height: 40px;
    font-size: 20px;
}

.primary-button:hover {
    background: lightskyblue;
}

.board h1, .card-name {
    display: inline;
}

.board {
    background: rgb(182, 182, 182);
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 15px;
    padding: 15px;
    position: relative;
}

.add-column {
    background: #ddd;
    border: 0;
    margin-left: 10px;
    border-radius: 5px;
}
.add-column:hover {
    background: lightskyblue;
    border-radius: 5px;
}

.column-container {
    display: none;
    justify-content: flex-start;
    background: #ddd;
    align-items: flex-start;
    border-radius: 5px;
}

.column {
    background: #eee;
    min-width: 200px;
    flex: 0 1 auto;
    border-radius: 5px;
    margin: 5px;
    padding-bottom: 20px;
    padding-top: 0;
    position: relative;
}

.column-header {
    margin: 10px;
    display: inline;
}

.remove-column, .remove-card, .remove-board, .hide-board {
    background: transparent;
    border: 0;
    float: right;
}

.hide-board:hover {
    background: rgb(230, 213, 82);
}

.buttons {
    position: absolute;
    top: 0;
    right: 0;
}

.remove-column:hover, .remove-card:hover, .remove-board:hover {
    background: pink;
    border-top-right-radius: 5px;
}

button.add-card: {
    border: 0;
    background: transparent;
    width: 100%;
    position: absolute;
    bottom: 0;
}


.modal {
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.22);
    z-index: 99999;
    left: 0;
    top: 0;
    display: none;
}

.modal .form {
    width: 50%;
    margin: 15% auto;
    background: #eee;
    padding: 20px;
    margin-bottom: 0;
    text-align: center;
}

.modal form {
    margin-bottom: 0;
}

.card {
    cursor: move;
    background: #ddc;
    border-radius: 5px;
    margin: 5px;

}

.card-container {
    padding: 5px 5px 50px 5px;
}

#column-template, #card-template, #board-template {
    display: none;
}

button.add-card {
    border: 0;
    background: transparent;
    width: 100%;
    position: absolute;
    bottom: 0;
}

button.add-card:hover {
    background: rgb(255, 255, 255);
    border-radius: 0 0 5px 5px;
}



input {
    display: inline;
}

label {
    display: block;
    float: left;
}