<html>
<head>
	<link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='images/favicon-sun.png') }}"/>
	<title>Trollo</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

	<div class="project" id="project">
		<div id="header">
			<button type="button" id="add-board" class="primary-button">Add board</button>
		</div>
		
	</div>

<script src="{{ url_for('static', filename='js/app.js') }}" defer></script>
</body>


<!-- ******TEMPLATES****** -->

<div class="board" id="board-template">
		<button type="button" class="remove-board">X</button>
		<h1 class="board-header"></h1>
		<button type="button" class="add-column">+ Add Column</button>
		<div class="column-container">
		</div>
</div>

<div class="column" id="column-template" >
		<h2 class="column-header"></h2>
		<button type="button" class="remove-column">X</button>
		<div class="card-container" ondrop="drop(event)" ondragover="allowDrop(event)">				
		</div>
		<div class="add-card-button">
			<button type="button" class="add-card">+ Add card</button>
		</div>
</div>

<div class="card" id="card-template" draggable="true" ondragstart="drag(event)">
		<h4 class="card-name"></h4>
		<button type="button" class="remove-card">X</button>
		<p class="card-description"></p>
</div>

<div class="modal" id="board-modal">
	<div class="form">
		<form id="board-form">
			<label for="board-name">Board name:</label>
			<input id="board-name" name="board-name" type="text" maxlength="15" required>
			<button type="submit">OK!</button>
		</form>
	</div>
</div>

<div class="modal" id="column-modal">
	<div class="form">
		<form id="column-form">
			<input name="board-id" type="text" style="display: none">
			<label for="column-name">Title:</label>
			<input id="column-name" name="column-name" type="text" minlength="3" maxlength="15" required>
			<button type="submit">OK!</button>
		</form>
	</div>
</div>

<div class="modal" id="card-modal">
	<div class="form">
		<form id="card-form">
			<input id="column-id" name="column-id" type="text" style="display: none">
			<label for="card-name">Name:</label>
			<input id="card-name" name="card-name" type="text" minlength="3" maxlength="15" required>
			<br>
			<label for="card-description">Description:</label>
			<input id="card-description" name="card-description" type="text" maxlength="60" required>
			<button type="submit">OK!</button>
		</form>
	</div>
</div>




</html>
